<div>
    <a href = "/families/<%= req.familySlug %>/<%= req.memberSlug %>">
        <%= member.firstname %> <%= member.lastname %>
    </a>

    <form
        action = "/families/<%= family._id %>/<%= member._id %>/delete?_method=DELETE"
        method = "POST"
    >
        <button type = "submit">Delete</button>
    </form>
</div>