<%- include("../partials/header.ejs", {title}) %>

<h1><%= title %></h1>

<a href = <%= `${family.slug}/add` %>>Add Member</a>

<% members.forEach(member => { %>
    <%- include("../components/listmember.ejs", {member}) %>
<% }) %>

<% 
    const scripts = {
        scripts: [
        "/modules/tree.js"
        ]
    }
%>

<%- include("../partials/footer.ejs", scripts) %>