<% function renderMember(member) { %>
    <div class = "member">
        <div class = "member-info">
            <a href = "<%= `/families/${req.params.familyTarget}/${member.slug}` %>">
                <%= member.firstname %> <%= member.lastname %>   
            </a>
        </div>

        <% if(member.descendants.length > 0) { %>
            <div class = "member-descendants">
                <% for(const descendant of member.descendants) { %>
                    <%- renderMember(descendant) %>
                <% } %>    
            </div>
        <% } %>
    </div>
<% } %>

<%- include("../partials/header.ejs", {title, styles: [
    "viewFamily.css"
]}) %>

<div class = "family" id = "viewFamily-family">
    <div id = viewFamily-family-title>
        <h1><%= title %></h1>
    </div>

    <div id = "viewFamily-family-options">
        <a href = <%= `/families/${family._id}/edit` %>>
            Edit
        </a>
        
        <a href = <%= `/families/${req.params.familyTarget}/addToRoot` %>>
            Add Member
        </a>
        
        <a href = <%= `/families/${req.params.familyTarget}/query` %>>
            Create Query
        </a>
        
        <a href = <%= `/families` %>>
            Back to Families
        </a>        
    </div>

    <div id = "viewFamily-family-content">
        <% if(members) { %>
            <div class = "members">
                <%- renderMember(members) %>
            </div>
        <% } %>        
    </div>
</div>

<%- include("../partials/footer.ejs", {scripts: []}) %>







