<%- include("../partials/header.ejs", {title}) %>

<h1><%= title %></h1>

<a href = <%= `${family.slug}/add` %>>Add Member</a>

<% members.forEach(member => { %>
    <% if(member) { %>
        <%- include("../components/listMember.ejs", {family, member}) %>
    <% } %>
<% }) %>

<%- include("../partials/footer.ejs", {scripts: undefined}) %>