<%- include("../partials/header.ejs", {title}) %>

<h1><%= title %></h1>

<a href = <%= `${req.params.familyTarget}/addToRoot` %>>Add Member</a>

<% if(members) { 
    members.forEach(member => { 
        if(member) { %>
            <%- include("../components/listMember.ejs", {req, member}) %>
        <% } 
    })
} %>

<a href = <%= `/families` %>>
    <button>Back to Families</button>
</a>

<%- include("../partials/footer.ejs", {scripts: undefined}) %>