<%- include("../partials/header.ejs", {title}) %>

<h1><%= title %></h1>

<p>Gender: <%= member.member.gender %></p>

<% if(member.member.birthday) { %>
    <p><%= member.member.birthday.toDateString() %></p>
<% } %>

<a href = <%= `/families/${req.params.familyTarget}/${req.params.memberTarget}/addToMember` %>>
    <button>Add Descendant</button>
</a>

<a href = <%= `/families/${req.params.familyTarget}` %>>
    <button>Back to Family</button>
</a>

<%- include("../partials/footer.ejs", {scripts: undefined}) %>